---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ site.url }}/</loc><lastmod>{{ site.updated }}</lastmod><priority>1.0</priority></url>
  <url><loc>{{ site.url }}/render_arts/</loc><lastmod>{{ site.updated }}</lastmod><priority>0.7</priority></url>
  <url><loc>{{ site.url }}/projects/tum_cv_challenge_ss24/</loc><lastmod>{{ site.updated }}</lastmod><priority>0.7</priority></url>
  <url><loc>{{ site.url }}/three_js_arts/jelly_receipt/</loc><lastmod>{{ site.updated }}</lastmod><priority>0.6</priority></url>
  <url><loc>{{ site.url }}/three_js_arts/water_pool/</loc><lastmod>{{ site.updated }}</lastmod><priority>0.6</priority></url>
</urlset>
